.list-group-item{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
.green-c{
  margin-top: 1%;
  color: rgb(255, 255, 255);
  background-color: green;
}
.red-c{
  margin-top: 1%;
  color: rgb(255, 255, 255);
  background-color: red;
}
.orenge-c{
  margin-top: 1%;
  color: rgb(255, 255, 255);
  background-color: orange
}

h2{
  text-align: center;
}
