<h2>Reserve</h2>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">เลขทะเบียน</span>
  </div>
  <input type="text" class="form-control" #licen />
</div>



<div (click)="deletemsg()" class="modal-content" *ngIf="message !== ''">{{message}}</div>

<ul class="list-group">
  <li
    class="list-group-item"
    [ngClass]="{
      'green-c': parkingLotStatus(park) === 'Available',
      'red-c': parkingLotStatus(park) === 'Occupied',
      'orenge-c': parkingLotStatus(park) === 'Reserved'
    }"
    *ngFor="let park of parks | slice: 7:10; let i = index"
    (click)="Updatetoreserve(park.id, licen.value, park.lot_id)
    "
  >
    <div class="col" *ngIf="parkingLotStatus(park) === 'Reserved'">
      เลขทะเบียน {{ park.licenseplate }}
    </div>
    <div class="col"></div>
    {{ park.lot_id }}
    <div class="col">{{ parkingLotStatus(park) }}</div>
    <div class="col btn btn-primary" data-toggle='modal' data-target='#exampleModal'> <div *ngIf="parkingLotStatus(park) === 'Available'">จอง</div><div *ngIf="parkingLotStatus(park) === 'Reserved'">ยกเลิกการจอง</div></div>
  </li>
</ul>
<button class="btn btn-primary mt-3" (click)="goback()">back</button>
