<h2>Reserve</h2>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">เลขทะเบียน</span>
  </div>
  <input type="text" class="form-control" #licen />
</div>
<ul class="list-group">
  <li
    class="list-group-item"
    [ngClass]="{
      'green-c': item.status === 'Available',
      'red-c': item.status === 'Occupied',
      'orenge-c': item.status === 'Reserved'
    }"
    *ngFor="let item of statusfrontend"
    (click)="Updatetoreserve(item.lot_id, licen.value, item.status)"
  >
    <div class="col" *ngIf="item.licenseplate">
      เลขทะเบียน {{ item.licenseplate }}
    </div>
    <div class="col"></div>
    {{ item.lot_id }}
    <div class="col">{{ item.status }}</div>
    <div class="col btn btn-primary">จอง</div>
  </li>
</ul>
<button (click)="goback()">back</button>
