<div>
  <div class="row">
    <div
      *ngFor="let park of parks | slice: 0:5; let i = index"
      (click)="updateDisplay(park.id)"
      [id]="park.id"
      class="col border border-dark border-bottom-0 top"
      [ngClass]="{
        'green-c': parkingLotStatus(park) === 'Available',
        'red-c': parkingLotStatus(park) === 'Occupied',
        'orenge-c': parkingLotStatus(park) === 'Reserved'
      }"
    >
      <div>{{ park.lot_id }}</div>
      <div>{{ parkingLotStatus(park) }}</div>
      <div
        [ngClass]="{
          'green-c bb bi bi-p-circle-fill':
            parkingLotStatus(park) === 'Available',
          'red-c  bi bi-car-front-fill xl':
            parkingLotStatus(park) === 'Occupied',
          'orenge-c bi bi-flag-fill': parkingLotStatus(park) === 'Reserved'
        }"
      ></div>
    </div>
  </div>

  <!-- Middle row -->
  <div class="row middle">
    <i class="bi bi-arrow-left-square-fill"></i>
  </div>

  <!-- ROW 3 -->
  <div class="row">
    <div
      *ngFor="let park of parks | slice: 5:10; let i = index"
      (click)="updateDisplay(park.id)"
      [id]="park.id"
      class="col border border-dark border-top-0 top"
      [ngClass]="{
        'green-c': parkingLotStatus(park) === 'Available',
        'red-c': parkingLotStatus(park) === 'Occupied',
        'orenge-c': parkingLotStatus(park) === 'Reserved'
      }"
    >
      <div>{{ park.lot_id }}</div>
      <div>{{ parkingLotStatus(park) }}</div>
      <div
        [ngClass]="{
          'green-c bb bi bi-p-circle-fill':
            parkingLotStatus(park) === 'Available',
          'red-c  bi bi-car-front-fill xl':
            parkingLotStatus(park) === 'Occupied',
          'orenge-c bi bi-flag-fill': parkingLotStatus(park) === 'Reserved'
        }"
      ></div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-3">
  <button (click)="goMobile()"><h3>จอง</h3></button>
</div>

{{ parks | json }}
