.top {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.bottom{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.middle{
  text-align: right;

  padding-top: 1%;
  padding-bottom: 1%;
}

.bi{
  font-size: 300%;
}

.bb{
  font-size: 300%;
}

.xl{
  font-size: 300%;
}
.green-c{
  color: green
}
.red-c{
  color: red;
}
.orenge-c{
  color: orange
}
